.item-list {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item-box {
    width: 33%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box {
    height: 60px;
    width: 60px;
}